body {
    font-family: poppins;
    background-color: #171717;
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    font-size: 30px;
  } 

.navbar-brand {
    font-size: 35px;
}
.bg-custom {
    background-color: #eda647;
}


.carousel-text {
    display: flex;
    justify-content: center;
    color: white;
}

.car-color {
    color: aqua;
    border: 2px solid white;
    float: left;
    margin-bottom: 50px;
}

.bg-custom-pic {
    background-image: url("Week9_photos/Subaru.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}